@import 'tailwindcss';

@font-face {
    font-family: 'BitcountPropSingle';
    src: url('/fonts/BitcountPropSingle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BitcountPropSingle';
    src: url('/fonts/BitcountPropSingle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'BitcountPropSingle';
    src: url('/fonts/BitcountPropSingle-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-bitcount: 'BitcountPropSingle', serif;
    
    --color-apricot-cream-50: #fdf4e7;
    --color-apricot-cream-100: #fce8cf;
    --color-apricot-cream-200: #f9d29f;
    --color-apricot-cream-300: #f6bb6f;
    --color-apricot-cream-400: #f3a53f;
    --color-apricot-cream-500: #f08e0f;
    --color-apricot-cream-600: #c0720c;
    --color-apricot-cream-700: #905509;
    --color-apricot-cream-800: #603906;
    --color-apricot-cream-900: #301c03;
    --color-apricot-cream-950: #221402;

    --color-dark-coffee-50: #f6f0ef;
    --color-dark-coffee-100: #ede1de;
    --color-dark-coffee-200: #dbc3bd;
    --color-dark-coffee-300: #c9a59c;
    --color-dark-coffee-400: #b7877b;
    --color-dark-coffee-500: #a4695b;
    --color-dark-coffee-600: #845448;
    --color-dark-coffee-700: #633f36;
    --color-dark-coffee-800: #422a24;
    --color-dark-coffee-900: #211512;
    --color-dark-coffee-950: #170f0d;

    --color-dark-cyan-50: #eafbfb;
    --color-dark-cyan-100: #d5f6f6;
    --color-dark-cyan-200: #aaeeee;
    --color-dark-cyan-300: #80e5e5;
    --color-dark-cyan-400: #56dcdc;
    --color-dark-cyan-500: #2bd4d4;
    --color-dark-cyan-600: #23a9a9;
    --color-dark-cyan-700: #1a7f7f;
    --color-dark-cyan-800: #115555;
    --color-dark-cyan-900: #092a2a;
    --color-dark-cyan-950: #061e1e;

    --color-rosy-copper-50: #faedeb;
    --color-rosy-copper-100: #f4dad7;
    --color-rosy-copper-200: #e9b6af;
    --color-rosy-copper-300: #de9187;
    --color-rosy-copper-400: #d36c5f;
    --color-rosy-copper-500: #c84837;
    --color-rosy-copper-600: #a0392c;
    --color-rosy-copper-700: #782b21;
    --color-rosy-copper-800: #501d16;
    --color-rosy-copper-900: #280e0b;
    --color-rosy-copper-950: #1c0a08;

    --color-carrot-orange-50: #fdf3e7;
    --color-carrot-orange-100: #fbe6d0;
    --color-carrot-orange-200: #f8cda0;
    --color-carrot-orange-300: #f4b571;
    --color-carrot-orange-400: #f19c41;
    --color-carrot-orange-500: #ed8312;
    --color-carrot-orange-600: #be690e;
    --color-carrot-orange-700: #8e4f0b;
    --color-carrot-orange-800: #5f3407;
    --color-carrot-orange-900: #2f1a04;
    --color-carrot-orange-950: #211202;
}

@layer components {
    .font-bitcount {
        font-family: 'BitcountPropSingle', serif;
    }
    
    h1, h2, h3, .nav-link {
        @apply font-bitcount;
    }
}
